<div id="message-<%= message.id %>" class="message-container-guests">
  <div class="message-container-photo">
    <%= image_tag message.user.photo, class: "avatar", alt: "avatar" %>
  </div>
  <div class="message-body">
    <p><strong><%= message.user.username %></strong></p>
    <p><%= message.content %></p>
    <div class="message-body-time">
      <i><%= message.created_at.in_time_zone("Europe/Amsterdam").strftime("%a %b %e at %l:%M %p") %></i>
    </div>
  </div>
</div>
