<% content_for :meta_title, "#{@chatroom.name}" %>
<div class="container chatroom"
data-controller="chatroom-subscription"
data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="chatroom-name">
  <h3><%= @chatroom.name %></h3>
  </div>

  <div style="overflow:scroll; height:100%;" class="messages" data-chatroom-subscription-target="messages">
    <% @messages.each do |message| %>
        <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="footer-chatroom">
    <%= simple_form_for [@chatroom, @message],
      remote: true,
      html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@chatroom.private? ? @chatroom.set_second_user(current_user).username : @chatroom.concert.artist}",
        wrapper_html: {class: "text-field flex-grow-1"}
      %>
      <%= f.button :button, class: "btn-orange-sm" do %>
        <i class="fa-regular fa-paper-plane" >
        </i>
      <% end %>
    <% end %>
  </div>
</div>
