<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 d-flex justify-content-between flex-column align-items-center bio">
      <% photo = @user.photo ? @user.photo : "https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" %>
      <%= image_tag "#{photo}", class: "avatar-large text-center  dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
      <h1 class="text-center"><%= @user.username %></h1>
      <p class="text-center"> <%= @user.bio %></p>
    </div>
    <div class="text-center my-2 col-8 d-flex justify-content-around align-items-center">
        <div><div><strong>5.0</strong></div><div>Rating</div></div>
        <div><strong><div><%= @concerts.count %></div></strong><div>concerts</div></div>
    </div>
    <div class="text-center my-2 col-8 d-flex justify-content-between align-items-center btnFlex">
      <% if current_user == @user %>
        <%# < class="btn-orange"><%= link_to "My Chats", chatrooms_path</button> %>
        <%= link_to "My Chats", chatrooms_path, class: 'btn-orange' %>
        <%= link_to "Edit", edit_user_registration_path, class: 'btn-orange' %>

      <% else %>
        <%= link_to 'Chat', user_path(@user), class: 'btn-orange'%>
        <%= link_to "Add Review", new_user_review_path(params[:id]), class: 'btn-orange' %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between flex-column mt-4 col-12">
      <strong class="my-3">Upcoming concerts</strong>
      <div class="card-grid_scroll">
        <% @concerts.each do |concert| %>
          <div class="card" id="card__background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= concert.photo %>)">
            <div class="card__content">
              <p class="card__category"><%= concert.date %></p>
              <h3 class="card__heading"><%= link_to concert.artist, concert_path(concert) %></h3>
              <p class="card__category"><%= concert.address %></p>
            </div>
          </div>
        <% end %>
      </div>
      <strong class="my-3">Reviews</strong>
      <%= "No reviews" if @reviews.count == 0 %>
      <% @reviews.each do |review| %>
        <div class="py-2 reviewContent col-10 mb-2">
          <ul>
            <div>
              <strong><%= review.user.username %></strong>
              <br>
              <div>
              <%= review.content %>
              </div>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
    <hr>
  </div>
</div>
