<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 d-flex justify-content-between flex-column align-items-center bio">
      <%= image_tag "#{@userphto}", class: "avatar text-center  dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
      <h1 class="text-center"><%= @user.username %></h1>
      <p class="text-center">@user.bio</p>
    </div>
    <div class="text-center my-2 col-8 d-flex justify-content-around align-items-center">
        <div><div><strong><%= @reviews %></strong></div><div>Rating</div></div>
        <div><strong><div>10</div></strong><div>concerts</div></div>
    </div>
    <div class="text-center my-2 col-8 d-flex justify-content-between align-items-center btnFlex">
      <button class="btn-orange">Chat</button>
      <button class="btn-orange">Follow</button>
    </div>
    <div class="d-flex justify-content-between flex-column mt-4 col-12">
      <strong class="my-3">Attending concerts</strong>
      <div class="card-grid_scroll">
        <% @concerts.each do |concert| %>
          <div class="card" id="card__background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= concert.photo %>)">
            <div class="card__content">
              <p class="card__category"><%= concert.date %></p>
              <h3 class="card__heading"><%= link_to concert.artist, concert_path(concert) %></h3>
              <p class="card__category"><%= concert.address %></p>
            </div>
          </div>
        <% end %>
      </div>
      <strong class="my-3">Reviews</strong>
      <div class='reviews rounded d-flex justify-content-between align-items-center px-3 mb-4 col-12'>
        <div>
          <div><strong>4.5/5</strong></div>
          <p>Based on 120 reviews</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star-half"></i>
        </div>
        <div>
          <div class="d-flex justify-content-between align-items-center flexgap"><span>5 stars </span><span class="bar"></span></div>
          <div class="d-flex justify-content-between align-items-center flexgap"><span>4 stars </span><span class="bar"></span></div>
          <div class="d-flex justify-content-between align-items-center flexgap"><span>3 stars </span><span class="bar"></span></div>
          <div class="d-flex justify-content-between align-items-center flexgap"><span>2 stars </span><span class="bar"></span></div>
          <div class="d-flex justify-content-between align-items-center flexgap"><span>1 stars </span><span class="bar"></span></div>
        </div>
      </div>
    </div>
    <div class="mb-2">
    <%= link_to review_path, class:'orange-link' do %>
      <i class="fas fa-plus-circle"></i>
      <span>Add review</span>
    <% end %>
    </div>
    <hr>
    <div class="py-2 reviewContent col-10 mb-2">
      <div>
        <strong>beam user</strong>
        <br>
        <div><%= @user.username %> is really nice. We spent really great time at the concert ! Meet you soon ! “</div>
      </div>
    </div>
  </div>
</div>
