<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 d-flex justify-content-between flex-column align-items-center bio">
      <% photo = @user.photo ? @user.photo : "https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" %>
      <%= image_tag "#{photo}", class: "avatar-large text-center  dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
      <h1 class="text-center"><%= @user.username %></h1>
      <p class="text-center"> <%= @user.bio %></p>
    </div>
    <div class="text-center my-2 col-8 d-flex justify-content-around align-items-center">
        <div><div><strong>5.0</strong></div><div>Rating</div></div>
        <div><strong><div><%= @concerts.count %></div></strong><div>concerts</div></div>
    </div>
    <div class="text-center my-2 col-10 d-flex justify-content-around align-items-center btnFlex">
      <% if current_user == @user %>
        <%# < class="btn-orange"><%= link_to "My Chats", chatrooms_path</button> %>
        <%= link_to "My Chats", chatrooms_path, class: 'btn-orange' %>
        <%= link_to "Edit", edit_user_registration_path, class: 'btn-orange' %>

      <% else %>
        <%= button_to 'Chat', user_conversations_path(params[:id]), method: :post, class: 'btn-orange' %>
        <%= link_to "Add Review", new_user_review_path(params[:id]), class: 'btn-orange' %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between flex-column mt-4 col-12">
      <h3><strong class="my-3 mb-3 text-center">🚀 Upcoming concerts</strong></h3>
      <% if @concerts.count == 0 %>
        <p>No concert joined yet!</p>
      <% end %>
      <div class="card-grid_scroll mt-3 mb-5">
        <% @concerts.each do |concert| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= concert.photo %>)">
            <div class="card__content">
              <h3 class="card__heading"><%= link_to concert.artist, concert_path(concert) %></h3>
              <p class="card__category">🗓 <%= concert.date.strftime("%d %b %Y") %></p>
            </div>
          </div>
        <% end %>
      </div>

      <h3><strong class="my-3 mb-3 text-center">⭐️ Reviews </strong></h3>
      <p classs="mt-2"><%= "No reviews" if @reviews.count == 0 %></p>
      <% @reviews.each do |review| %>
        <div class="py-2 reviewContent col-10 mb-2">
          <ul>
            <div>
              <strong><%= review.user.username %></strong>
              <br>
              <div>
              <%= review.content %>
              </div>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
    <hr>
  </div>
</div>
