<%# <div class="pop_up_map_card d-flex p-4 align-items-center justify-content-between"> %>
  <%# <div>
    <%= image_tag concert.photo, alt: "concert img", class:'map_concert_img' %>
  <%# </div>  %>
<%# <div class="pb-6" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%= concert.photo %>
    <%# <h3 class="map_card_details">
    <%# <h3 class="map_card_details"><%= concert.date %>
    <%# <h3 class="map_card_details"><%= concert.genre %>

<%# </div> %>


<div class="card-product pb-6">
  <img src="<%= concert.photo %>" />
    <div class="card-product-infos">
      <h2><%= link_to concert.artist, concert_path(concert), id: 'link-map'%></h2>
      <p><%= concert.date.strftime("%d %b %Y") %></p>
    </div>
</div>
