<div class="index-container">
  <div class="container">
    <div class="search-container">
      <%= form_tag concerts_path, method: :get, class: "my-3 w-75 searchInputAndIcon w-100"  do %>
        <%= text_field_tag :query,
          params[:query],
          class: "rounded-pill searchInput", placeholder: "Search for artist, venue, city"
        %>
        <%= button_tag do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  <section class="container">
  <h1>Recommended for you</h1>
    <div class="card-grid_scroll">
      <% @fav_concerts.each do |concert| %>
        <div class="card" id="card__background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= concert.photo %>)">
          <div class="card__content">
            <p class="card__category"><%= concert.date %></p>
            <h3 class="card__heading"><%= link_to concert.artist, concert_path(concert) %></h3>
            <p class="card__category"><%= concert.address %></p>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <div class="container">
    <h1>Categories</h1>
        <nav class="categories_tabs stroke">
          <div class='tab'>
            <%= form_tag concerts_path, method: :get, class: "my-3 w-75 searchInputAndIcon w-100"  do %>
              <%= hidden_field_tag :query,
                params[:query] = 'Rock'
              %>
              <%= button_tag do %>
                <i class="fa-solid fa-guitar icon_category"></i>
                <p class="tab-text">Rock</p>
              <% end %>
            <% end %>
          </div>
          <div class='tab'>
            <%= form_tag concerts_path, method: :get, class: "my-3 w-75 searchInputAndIcon w-100"  do %>
              <%= hidden_field_tag :query,
                params[:query] = 'Jazz'
              %>
              <%= button_tag do %>
                <i class="fa-solid fa-compact-disc icon_category"></i>
                <p class="tab-text">Jazz</p>
              <% end %>
            <% end %>
          </div>
          <div class='tab'>
            <%= form_tag concerts_path, method: :get, class: "my-3 w-75 searchInputAndIcon w-100"  do %>
              <%= hidden_field_tag :query,
                params[:query] = 'Rap'
              %>
              <%= button_tag do %>
                <i class="fa-solid fa-microphone-lines icon_category"></i>
                <p class="tab-text">Rap</p>
              <% end %>
            <% end %>
          </div>
          <div class='tab'>
            <%= form_tag concerts_path, method: :get, class: "my-3 w-75 searchInputAndIcon w-100"  do %>
              <%= hidden_field_tag :query,
                params[:query] = 'ragge'
              %>
              <%= button_tag do %>
                <i class="fa-solid fa-headphones-simple icon_category"></i>
                <p class="tab-text">Regge</p>
              <% end %>
            <% end %>
          </div>
          <div class='tab'>
            <%= form_tag concerts_path, method: :get, class: "my-3 w-75 searchInputAndIcon w-100"  do %>
              <%= hidden_field_tag :query,
                params[:query] = 'test'
              %>
              <%= button_tag do %>
                <i class="fa-solid fa-music icon_category"></i>
              <p class="tab-text">DUNNO</p>
              <% end %>
            <% end %>
          </div>
      </nav>
  </div>
  <div class="container">
  <div class="card-grid_column">
      <% @concerts.each do |concert| %>
        <div class="card card__background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= concert.photo %>)">
          <div class="card__content">
            <p class="card__category"><%= concert.date %></p>
            <h3 class="card__heading"><%= link_to concert.artist, concert_path(concert) %></h3>
            <p class="card__category"><%= concert.address %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div style="width: 100%; height: 200px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
<div class="footer-map">
  <div class="footer_content">
    <p>SOME TEXT</p>
    <button class="btn-orange">MAP</button>
  </div>
</div>
