<h1>Concerts</h1>
<br>
<ul>
  <% @concerts.each do |concert| %>
    <li>
      <strong><%= link_to concert.name, concert_path(concert) %></strong>
      <br>
      <p><%= concert.artist %></p>
      <br>
      <p>[ <%= concert.rating %> ]</p>
      <br>
      <em><p><%= concert.date %></p></em>
      <br>
      <em><p><%= concert.address %></p></em>
    </li>
  <% end %>
</ul>
