<div class="index-container" data-controller="search-concerts">
  <div class="container search-container" >
    <%= form_tag concerts_path, method: :get, class: "my-3 w-75 searchInputAndIcon w-100", data: {search_concerts_target: "form"}  do %>
      <%= text_field_tag :query,
        params[:query],
        class: "rounded-pill searchInput", placeholder: "Search for artist, venue, city", data: { search_concerts_target: 'input', action: 'keyup->search-concerts#update' }
      %>
      <%= button_tag do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <div class="container mb-3">
    <h3>Browse categories</h3>
  </div>
  <%= render "tabs", concerts: @concerts %>
  <%= render "list", concerts: @concerts %>
</div>


<div class="footer-map">
  <div class="footer_content">
    <p>SOME TEXT</p>
    <button class="btn-orange">MAP</button>
  </div>
</div>
