<div class="index-container">
  <div class="container">
    <div class="search-container">
      <%= form_tag concerts_path, method: :get, class: "my-3 w-75 searchInputAndIcon w-100"  do %>
        <%= text_field_tag :query,
          params[:query],
          class: "rounded-pill searchInput", placeholder: "Search for artist, venue, city"
        %>
        <%= button_tag do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  <section class="container">
  <h1>Recommended for you</h1>
    <div class="card-grid_scroll">
      <% @concerts.sample(3).each do |concert| %>
        <div class="card card__background" style="background-image: url(<%= concert.photo %>)">
          <div class="card__content">
            <p class="card__category"><%= concert.date %></p>
            <h3 class="card__heading"><%= link_to concert.artist, concert_path(concert) %></h3>
            <p class="card__category"><%= concert.address %></p>
          </div>
        </div>
      <% end %>
    </div>
  </section>
  <div class="container">
  <h1>categories</h1>
      <nav class="categories_tabs stroke">
      <button>
        <div>
          <i class="fa-solid fa-guitar icon_category"></i>
          <p class="tab-text">Rock</p>
        </div>
      </button>
      <button>
        <div>
          <i class="fa-solid fa-compact-disc icon_category"></i>
          <p class="tab-text">Disco</p>
        </div>
      </button>
      <button>
        <div>
          <i class="fa-solid fa-drum icon_category"></i>
          <p class="tab-text">Rock</p>
        </div>
      </button>
      <button>
        <div>
          <i class="fa-solid fa-microphone-lines icon_category"></i>
          <p class="tab-text">Rap</p>
        </div>
      </button>
      <button>
        <div>
          <i class="fa-solid fa-headphones-simple icon_category"></i>
          <p class="tab-text">Silent disco</p>
        </div>
      </button>
      <button>
        <div>
          <i class="fa-solid fa-music icon_category"></i>
              <p class="tab-text">DUNNO</p>
        </div>
      </button>
      </nav>
  </div>
  <div class="container">
  <div class="card-grid_column">
      <% @concerts.each do |concert| %>
        <div class="card card__background" style="background-image: url(<%= concert.photo %>)">
          <div class="card__content">
            <p class="card__category"><%= concert.date %></p>
            <h3 class="card__heading"><%= link_to concert.artist, concert_path(concert) %></h3>
            <p class="card__category"><%= concert.address %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="footer-map">
  <div class="footer_content">
    <p>SOME TEXT</p>
    <button class="btn-orange">MAP</button>
  </div>
</div>
