    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="card-grid_column card-grid-modal user-card-container" data-change-grid-target="grid" >
            <%  @attendees.each do |attendee| %>
              <div class="attendee-card">
                <div class="card-content">
                  <% photo = attendee.user.photo ? attendee.user.photo : "https://thumbs.dreamstime.com/b/default-avatar-profile-trendy-style-social-media-user-icon-187599373.jpg" %>
                  <%= image_tag photo, class: 'avatar-sm'  %>
                  <%= link_to user_path(attendee.user.id) do %>
                    <p id="card-fullname"><%= attendee.user.username %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<div class="show-container" data-controller="change-grid">
  <div class="show-container">
    <div class="card-category" style="background-image: url(<%= @concert.photo %>)">
    </div>
    <div class="concert-details">
      <div class="concert-details-title">
        <h1><%= @concert.artist %></h1>
        <p><i class="fa-solid fa-star"></i> (5.0)</p>
      </div>
      <div class="concert-details-list">
        <ul class="list-no-style">
          <li><p>🗓 <%= @concert.date %></p></li>
          <li><p>📍 <%= @concert.venue %></p></li>
          <li><p>🎶 <%= @concert.genre %></p></li>
        </ul>
        </div>
        <div class="concert-details-bio">
          <h3>Description</h3>
          <p><%= @concert.description %> </p>
        </div>

      </div>
      <div class="container-map">
        <%# <img src="https://www.google.com/maps/d/thumbnail?mid=17x3faiz9oX3SJDpBJPjO-zu6jUQ" alt=""> %>
        <div style="width: 100%; height: 200px;"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
    <div class="footer-map">
      <div class="footer_content">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <p><%= @attendees.count %> attending</p>
        </button>
        <% if current_user == nil %>
          <%= button_to 'Join now', new_user_session_path, class:"joinBtn btn-orange" %>
        <% elsif UsersConcert.find_by(user_id: current_user.id, concert_id: @concert.id) %>
          <%= link_to 'CHAT', chatroom_path(@concert.chatroom), class: 'btn-orange' %>
        <% else %>
          <%= button_to 'Join now', concert_users_concerts_path(@concert), class:"joinBtn btn-orange" %>
        <% end %>
      </div>

  </div>
</div>


<%= link_to "Back to the list", concerts_path %>
